@import url(./__button/popup__button.css);
@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);
@import url(./__text/popup__text.css);
@import url(./__name/popup__name.css);

.popup {
  min-width: 1280px;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  align-items: center;
  display: none;
}

@media all and (max-width: 1080px) {
  .popup {
    min-width: 100%;
  }
}
