.popup__container {
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: 195px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media all and (max-width: 620px) {
  .popup__container {
    max-width: 300px;
  }
}
