.profile__edit {
  background-image: url(../../../images/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  padding: 0;
  margin-left: 17px;
}

@media all and (max-width: 1080px) {
  .profile__edit {
    margin: 0;
  }
}
